*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #474747;
}
nav{
    background-color: #fff8f3FF;
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
    padding: 8px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 10px;
    padding: 8px;
    align-items: center;
}
ul a{
    text-decoration: none;
    color: #474747;
}
.logo{
    font-size: 45px;
    font-weight: 800;
}
span .logor{
    color: #fd6e0aFF;
}
.common_btn{
    background-color: #fd6e0aFF;
    padding: 6px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
}
main-section{
    display: flex;
    justify-content: space-between;
}